body{
    background-color: grey;
}
form{
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
input[type="submit"]{
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
input[type="submit"]:hover{
    background-color: blue;
    color: white;
}
input:hover{
    background-color: rgb(243, 239, 239);
}
h1{
    text-align: center;
    font-size: x-large;
    font-weight:bold;
}



